* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
}

#viz {
  overflow: auto;
}

.group {
  float: left;
  margin-right: 0.5em;
  padding: 0.5rem;
  overflow: auto;
  width: 32%;
}
.group:nth-child(1) {
  width: 100%;
  height: 10rem;
}
.group:nth-child(1) h2 {
  float: left;
  width: 15rem;
}

.salaries {
  overflow: auto;
}

.salary {
  margin: 0.5rem 0.25rem 0.5rem 0;
  overflow: auto;
  cursor: pointer;
  width: 13rem;
  float: left;
}
.salary h4 {
  float: left;
  clear: left;
  margin: 0.5rem 0 1rem 0;
  width: 10rem;
}
.salary .track {
  float: left;
}

.unit {
  float: left;
  width: 10px;
  height: 10px;
  background: red;
  margin: 1px 1px 0 0;
}
.track {
  overflow: auto;
  width: 200px;
}
